!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MusicShop
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .navbar.navbar-expand-lg.bg-light.navbar-light.mb-3
      .container
        = link_to "", root_path, class: 'navbar-brand'
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to "Home", root_path, class: 'nav-link'
          %li.nav-item
            = link_to "Shopping card", "#", class: 'btn btn-dark'
        %ul.navbar-nav
          %li.nav-item
            - if user_signed_in?
              %li.nav-item
                = link_to "Sell", new_instrument_path, class: 'btn btn-primary'
              %li.nav-item
                = link_to "", destroy_user_session_path, class: 'nav-link', method: :delete
            - else
              %li.nav-item
                = link_to "Sign In", new_user_session_path, class: 'nav-link'
              %li.nav-item
                = link_to "Create an Account", new_user_registration_path, class: 'btn btn-primary'
    .container.text-center
      = yield
